In [1]:
import pandas as pd
import numpy as np

professions = pd.read_csv("/Users/michalroczek/Desktop/course-files/Prestige.csv")
professions.head()

                  name  education  income  women  prestige  census  type
0   gov.administrators      13.11   12351  11.16      68.8    1113  prof
1     general.managers      12.26   25879   4.02      69.1    1130  prof
2          accountants      12.77    9271  15.70      63.4    1171  prof
3  purchasing.officers      11.42    8865   9.11      56.8    1175  prof
4             chemists      14.62    8403  11.68      73.5    2111  prof

In [2]:
dict = {"name" : "data scientist", "education" : np.NaN, "income" : np.NaN, "women" : np.NaN, "prestige" : np.NaN, "census" : np.NaN, "type" : np.NaN}

In [3]:
dict

{'name': 'data scientist',
 'education': nan,
 'income': nan,
 'women': nan,
 'prestige': nan,
 'census': nan,
 'type': nan}