In [1]:
import pandas as pd
import numpy as np 

fortune = pd.read_csv("/Users/michalroczek/Desktop/course-files/Fortune_500_2017.csv", usecols=['Rank',"Title",'Industry',"Hqlocation",'Sector'])

In [2]:
fortune.head()

,Rank,Title,Sector,Industry,Hqlocation
0,1,Walmart,Retailing,General Merchandisers,"Bentonville, AR"
1,2,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE"
2,3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA"
3,4,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX"
4,5,McKesson,Wholesalers,Wholesalers: Health Care,"San Francisco, CA"