In [1]:
import pandas as pd

In [2]:
surveys = pd.read_csv("/Users/michalroczek/Desktop/course-files/StackOverflowDeveloperSurvey.csv", usecols=["CompanySize"], squeeze=True).dropna()

In [3]:
surveys.head(10)

1           20 to 99 employees
2     10,000 or more employees
3     10,000 or more employees
4           10 to 19 employees
6           20 to 99 employees
7      Fewer than 10 employees
8     5,000 to 9,999 employees
10        100 to 499 employees
11        100 to 499 employees
13     Fewer than 10 employees
Name: CompanySize, dtype: object

In [4]:
surveys[3]

'10,000 or more employees'

In [5]:
surveys[0:10]

1           20 to 99 employees
2     10,000 or more employees
3     10,000 or more employees
4           10 to 19 employees
6           20 to 99 employees
7      Fewer than 10 employees
8     5,000 to 9,999 employees
10        100 to 499 employees
11        100 to 499 employees
13     Fewer than 10 employees
Name: CompanySize, dtype: object

In [6]:
surveys[1235]

'Fewer than 10 employees'

surveys[12339:12350]

In [8]:
surveys.sort_values(inplace=True)

In [10]:
surveys[3]

'10,000 or more employees'

In [12]:
surveys[0:11]

21923    1,000 to 4,999 employees
36683    1,000 to 4,999 employees
43105    1,000 to 4,999 employees
43102    1,000 to 4,999 employees
30582    1,000 to 4,999 employees
43072    1,000 to 4,999 employees
43063    1,000 to 4,999 employees
23955    1,000 to 4,999 employees
43060    1,000 to 4,999 employees
43056    1,000 to 4,999 employees
30558    1,000 to 4,999 employees
Name: CompanySize, dtype: object

In [13]:
surveys.reset_index(drop=True,inplace=True)

In [14]:
surveys[3]

'1,000 to 4,999 employees'

In [15]:
surveys[1:11]

1     1,000 to 4,999 employees
2     1,000 to 4,999 employees
3     1,000 to 4,999 employees
4     1,000 to 4,999 employees
5     1,000 to 4,999 employees
6     1,000 to 4,999 employees
7     1,000 to 4,999 employees
8     1,000 to 4,999 employees
9     1,000 to 4,999 employees
10    1,000 to 4,999 employees
Name: CompanySize, dtype: object