In [1]:
import pandas as pd
import numpy as np

In [2]:
fuel = pd.read_csv('/Users/michalroczek/Desktop/course-files/fuel.csv', usecols=[ 'Vehicle ID','Year','Make','Model','Class','Fuel Type','Combined MPG (FT1)','Start Stop Technology'], low_memory=False)

In [3]:
fuel.head()

,Vehicle ID,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1),Start Stop Technology
0,26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0,NaN
1,27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0,NaN
2,26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0,NaN
3,27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0,NaN
4,27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0,NaN

In [4]:
listOfCars = ('Renault', 'Toyota','Ford')

In [5]:
isInList = fuel['Make'].isin(listOfCars)

In [6]:
isInList.head()

0    False
1    False
2    False
3    False
4    False
Name: Make, dtype: bool

In [8]:
fuel[isInList].head()

,Vehicle ID,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1),Start Stop Technology
668,27613,1984,Ford,Bronco 4WD,Special Purpose Vehicle 4WD,Regular,13.0,NaN
669,27616,1984,Ford,Bronco 4WD,Special Purpose Vehicle 4WD,Regular,11.0,NaN
670,27619,1984,Ford,Bronco 4WD,Special Purpose Vehicle 4WD,Regular,10.0,NaN
671,27622,1984,Ford,Bronco 4WD,Special Purpose Vehicle 4WD,Regular,11.0,NaN
672,28472,1984,Ford,Bronco 4WD,Special Purpose Vehicle 4WD,Regular,13.0,NaN

In [9]:
isNoStartStopDefined = fuel['Start Stop Technology'].isnull()

In [10]:
isNoStartStopDefined.head()

0    True
1    True
2    True
3    True
4    True
Name: Start Stop Technology, dtype: bool

In [11]:
fuel[isNoStartStopDefined].head()

,Vehicle ID,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1),Start Stop Technology
0,26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0,NaN
1,27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0,NaN
2,26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0,NaN
3,27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0,NaN
4,27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0,NaN

In [12]:
isStartStopDefined = fuel['Start Stop Technology'].notnull()

In [13]:
isStartStopDefined.head()

0    False
1    False
2    False
3    False
4    False
Name: Start Stop Technology, dtype: bool

In [14]:
fuel[isStartStopDefined].head()

,Vehicle ID,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1),Start Stop Technology
16448,30976,1998,Chevrolet,S10 Electric,Small Pickup Trucks 2WD,Electricity,55.0,N
16449,30977,1998,Chevrolet,S10 Electric,Small Pickup Trucks 2WD,Electricity,28.0,N
16711,30975,1998,Honda,EV Plus,Compact Cars,Electricity,48.0,N
17323,30973,1999,Dodge,Caravan/Grand Caravan 2WD,Minivan - 2WD,Electricity,35.0,N
17433,30971,1999,Ford,Ranger Pickup 2WD,Standard Pickup Trucks 2WD,Electricity,58.0,N

In [15]:
mpg50_60 = fuel['Combined MPG (FT1)'].between(50,60)

In [16]:
mpg50_60.head()

0    False
1    False
2    False
3    False
4    False
Name: Combined MPG (FT1), dtype: bool

In [26]:
fuel[mpg50_60].head()

,Vehicle ID,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1),Start Stop Technology
16448,30976,1998,Chevrolet,S10 Electric,Small Pickup Trucks 2WD,Electricity,55.0,N
17433,30971,1999,Ford,Ranger Pickup 2WD,Standard Pickup Trucks 2WD,Electricity,58.0,N
18295,30966,2000,Ford,Ranger Pickup 2WD,Standard Pickup Trucks 2WD,Electricity,58.0,N
18296,30967,2000,Ford,Ranger Pickup 2WD,Standard Pickup Trucks 2WD,Electricity,56.0,N
18371,15606,2000,Honda,Insight,Two Seaters,Regular,53.0,Y

In [33]:
print('There are %d cars within the list %s' % (len(fuel[isInList]), listOfCars))

print('There are %d cars where Start/Stop technology is not determined' % len(fuel[isNoStartStopDefined]))

print('There are', len(fuel[isStartStopDefined]), 'cars where Start/Stop technology is determined') 

print('There are', len(fuel[mpg50_60]) ,'cares with MPG value between 50 and 60')

There are 4376 cars within the list ('Renault', 'Toyota', 'Ford')
There are 31374 cars where Start/Stop technology is not determined
There are 310 cars where Start/Stop technology is determined
There are 13 cares with MPG value between 50 and 60