In [2]:
import pandas as pd 
import numpy as np
fuel = pd.read_csv('/Users/michalroczek/Desktop/course-files/fuel.csv',low_memory=False, usecols=['Vehicle ID','Year','Make','Model','Class','Fuel Type','Combined MPG (FT1)'])

In [3]:
fuel.head()

,Vehicle ID,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
0,26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
1,27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
2,26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
3,27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
4,27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0

In [4]:
fuel.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31684 entries, 0 to 31683
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Vehicle ID          31684 non-null  int64
 1   Year                31684 non-null  int64
 2   Make                31684 non-null  object
 3   Model               31683 non-null  object
 4   Class               31683 non-null  object
 5   Fuel Type           31683 non-null  object
 6   Combined MPG (FT1)  31683 non-null  float64
dtypes: float64(1), int64(2), object(4)
memory usage: 8.9 MB

In [5]:
fuel['Year'] = fuel['Year'].astype('int')

In [7]:
fuel.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31684 entries, 0 to 31683
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Vehicle ID          31684 non-null  int64
 1   Year                31684 non-null  int64
 2   Make                31684 non-null  object
 3   Model               31683 non-null  object
 4   Class               31683 non-null  object
 5   Fuel Type           31683 non-null  object
 6   Combined MPG (FT1)  31683 non-null  float64
dtypes: float64(1), int64(2), object(4)
memory usage: 8.9 MB

In [8]:
fuel['Make'].value_counts()

Chevrolet                        3389
Ford                             2721
Dodge                            2361
GMC                              2174
Toyota                           1599
                                 ...
Goldacre                            1
Isis Imports Ltd                    1
Qvale                               1
Import Foreign Auto Sales Inc       1
BYD                                 1
Name: Make, Length: 128, dtype: int64

In [11]:
fuel['Make'] = fuel['Make'].astype('category')

In [12]:
fuel.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31684 entries, 0 to 31683
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Vehicle ID          31684 non-null  int64
 1   Year                31684 non-null  int64
 2   Make                31684 non-null  category
 3   Model               31683 non-null  object
 4   Class               31683 non-null  object
 5   Fuel Type           31683 non-null  object
 6   Combined MPG (FT1)  31683 non-null  float64
dtypes: category(1), float64(1), int64(2), object(3)
memory usage: 7.1 MB

In [13]:
fuel['Model'] = fuel['Model'].astype('category')
fuel['Class'] = fuel['Class'].astype('category')
fuel['Combined MPG (FT1)'] = fuel['Combined MPG (FT1)'].astype('category')

In [14]:
fuel.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31684 entries, 0 to 31683
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Vehicle ID          31684 non-null  int64
 1   Year                31684 non-null  int64
 2   Make                31684 non-null  category
 3   Model               31683 non-null  category
 4   Class               31683 non-null  category
 5   Fuel Type           31683 non-null  object
 6   Combined MPG (FT1)  31683 non-null  category
dtypes: category(4), int64(2), object(1)
memory usage: 2.9 MB

In [15]:
fuel['Combined MPG (FT1)'] = fuel['Combined MPG (FT1)'].astype('float')

In [16]:
fuel.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31684 entries, 0 to 31683
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Vehicle ID          31684 non-null  int64
 1   Year                31684 non-null  int64
 2   Make                31684 non-null  category
 3   Model               31683 non-null  category
 4   Class               31683 non-null  category
 5   Fuel Type           31683 non-null  object
 6   Combined MPG (FT1)  31683 non-null  float64
dtypes: category(3), float64(1), int64(2), object(1)
memory usage: 3.1 MB

In [ ]:
#Memory usage drop from 8.9MB to 3.1MB after conversion types of columns