In [1]:
import pandas as pd
import numpy as np

In [3]:
surveys = pd.read_csv('/Users/michalroczek/Desktop/course-files/StackOverflowDeveloperSurvey2018.csv', usecols=['Country','Gender','OperatingSystem'], low_memory=False)

surveys.head()

          Country OperatingSystem Gender
0           Kenya     Linux-based   Male
1  United Kingdom     Linux-based   Male
2   United States             NaN    NaN
3   United States         Windows   Male
4    South Africa         Windows   Male

In [6]:
surveys['Country'].is_unique

False

In [13]:
surveys['Country'].unique()[:10]

array(['Kenya', 'United Kingdom', 'United States', 'South Africa',
       'Nigeria', 'India', 'Spain', 'Croatia', 'Netherlands', 'Israel'],
      dtype=object)

In [14]:
len(surveys['Country'].unique())

184

In [16]:
surveys['Country'].nunique()

183

In [18]:
duplicatesKeepFirst = surveys['Country'].duplicated(keep='first')
duplicatesKeepFirst.head(10)

0    False
1    False
2    False
3     True
4    False
5     True
6     True
7    False
8     True
9    False
Name: Country, dtype: bool

In [19]:
surveys.head(10)

          Country OperatingSystem  Gender
0           Kenya     Linux-based    Male
1  United Kingdom     Linux-based    Male
2   United States             NaN     NaN
3   United States         Windows    Male
4    South Africa         Windows    Male
5  United Kingdom     Linux-based    Male
6   United States           MacOS    Male
7         Nigeria         Windows  Female
8   United States           MacOS    Male
9           India             NaN     NaN

In [21]:
surveys[duplicatesKeepFirst].head()

           Country OperatingSystem Gender
3    United States         Windows   Male
5   United Kingdom     Linux-based   Male
6    United States           MacOS   Male
8    United States           MacOS   Male
11           India             NaN    NaN

In [22]:
surveys[~duplicatesKeepFirst].head()

          Country OperatingSystem  Gender
0           Kenya     Linux-based    Male
1  United Kingdom     Linux-based    Male
2   United States             NaN     NaN
4    South Africa         Windows    Male
7         Nigeria         Windows  Female

In [24]:
len(surveys[~duplicatesKeepFirst])

184

In [26]:
surveys.drop_duplicates(subset = ['Country','OperatingSystem']).head()

          Country OperatingSystem Gender
0           Kenya     Linux-based   Male
1  United Kingdom     Linux-based   Male
2   United States             NaN    NaN
3   United States         Windows   Male
4    South Africa         Windows   Male

In [28]:
surveys.query('Country == "Poland"').head()

    Country OperatingSystem Gender
30   Poland     Linux-based   Male
34   Poland         Windows   Male
90   Poland         Windows   Male
119  Poland         Windows    NaN
131  Poland     Linux-based   Male