In [1]:
import pandas as pd
import numpy as np 
import math
import matplotlib.pyplot as plt

In [2]:
fuel = pd.read_csv("/Users/michalroczek/Desktop/course-files/fuel.csv", low_memory=False, usecols=["Vehicle ID","Year","Make","Model","Class","Fuel Type","Combined MPG (FT1)"])

In [3]:
fuel.head()

,Vehicle ID,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
0,26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
1,27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
2,26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
3,27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
4,27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0

In [3]:
fuel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31684 entries, 0 to 31683
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Vehicle ID          31684 non-null  int64
 1   Year                31684 non-null  int64
 2   Make                31684 non-null  object
 3   Model               31683 non-null  object
 4   Class               31683 non-null  object
 5   Fuel Type           31683 non-null  object
 6   Combined MPG (FT1)  31683 non-null  float64
dtypes: float64(1), int64(2), object(4)
memory usage: 1.7+ MB

In [7]:
fuel.dtypes

Vehicle ID              int64
Year                    int64
Make                   object
Model                  object
Class                  object
Fuel Type              object
Combined MPG (FT1)    float64
dtype: object

In [9]:
fuel.dtypes.value_counts()

object     4
int64      2
float64    1
dtype: int64

In [4]:
fuel["Class"].value_counts().head(10)

Compact Cars                   4489
Subcompact Cars                4299
Midsize Cars                   3393
Standard Pickup Trucks         2354
Sport Utility Vehicle - 4WD    2034
Sport Utility Vehicle - 2WD    1598
Special Purpose Vehicles       1455
Two Seaters                    1448
Large Cars                     1351
Small Station Wagons           1275
Name: Class, dtype: int64

In [14]:
fuel.index

RangeIndex(start=0, stop=31684, step=1)

In [15]:
fuel.columns

Index(['Vehicle ID', 'Year', 'Make', 'Model', 'Class', 'Fuel Type',
       'Combined MPG (FT1)'],
      dtype='object')

In [17]:
fuel.values

array([[26587, 1984, 'Alfa Romeo', ..., 'Minicompact Cars', 'Regular',
        20.0],
       [27705, 1984, 'Alfa Romeo', ..., 'Minicompact Cars', 'Regular',
        20.0],
       [26561, 1984, 'Alfa Romeo', ..., 'Two Seaters', 'Regular', 21.0],
       ...,
       [32065, 2012, 'Mitsubishi', ..., 'Compact Cars', 'Premium', 19.0],
       [32064, 2012, 'Mitsubishi', ..., 'Compact Cars', 'Premium', 19.0],
       [32106, 2012, 'Mitsubish', ..., nan, nan, nan]], dtype=object)

In [20]:
fuel.axes

[RangeIndex(start=0, stop=31684, step=1),
 Index(['Vehicle ID', 'Year', 'Make', 'Model', 'Class', 'Fuel Type',
        'Combined MPG (FT1)'],
       dtype='object')]

In [21]:
fuel.shape

(31684, 7)

In [22]:
fuel.count()

Vehicle ID            31684
Year                  31684
Make                  31684
Model                 31683
Class                 31683
Fuel Type             31683
Combined MPG (FT1)    31683
dtype: int64

In [23]:
len(fuel)

31684