In [5]:
import pandas as pd
import random as rd

In [2]:
dictionary = {"PYT001":"Airbus 320", "PYT002":"Boeing 737", "PYT003":"Airbus 321"}

In [3]:
aircrafts = pd.Series(dictionary)
aircrafts

PYT001    Airbus 320
PYT002    Boeing 737
PYT003    Airbus 321
dtype: object

In [4]:
flightsList = []

In [7]:
for i in range(100):
    flightsList.append(rd.choice(aircrafts.index))

In [8]:
flightsList[:5]

['PYT001', 'PYT001', 'PYT003', 'PYT001', 'PYT002']

In [9]:
flights = pd.Series(flightsList)

In [10]:
flights.head()

0    PYT001
1    PYT001
2    PYT003
3    PYT001
4    PYT002
dtype: object

In [16]:
flights_aircrafts = flights.map(aircrafts)

In [17]:
flights_aircrafts.head()

0    Airbus 320
1    Airbus 320
2    Airbus 321
3    Airbus 320
4    Boeing 737
dtype: object