In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import math

In [10]:
salary = pd.read_csv("/Users/michalroczek/Desktop/course-files/StackOverflowDeveloperSurvey.csv", usecols=["Salary"], squeeze=True)

SyntaxError: positional argument follows keyword argument (<ipython-input-10-612f39621550>, line 1)

In [3]:
salary.dropna()

2        113750.000000
14       100000.000000
17       130000.000000
18        82500.000000
22       100764.000000
             ...
51371     74193.548387
51378    107526.881720
51382     32258.064516
51387     58000.000000
51390     40000.000000
Name: Salary, Length: 12891, dtype: float64

In [7]:
salary.head().dropna()

2    113750.0
Name: Salary, dtype: float64

In [8]:
len(salary)

51392

In [9]:
min(salary)

nan