In [26]:
import math
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [7]:
salary = pd.read_csv("/Users/michalroczek/Desktop/course-files/StackOverflowDeveloperSurvey.csv", usecols=["Salary"], skip_blank_lines=True,squeeze=True).dropna()
salary.head()

2     113750.0
14    100000.0
17    130000.0
18     82500.0
22    100764.0
Name: Salary, dtype: float64

In [12]:
##Sorting from highest to lowest salary

salary.sort_values(ascending=False).head()

31600    197000.0
27943    195000.0
6743     195000.0
41398    195000.0
1696     195000.0
Name: Salary, dtype: float64

In [13]:
##Sorting from lowest to highest salary

salary.sort_values().head()

51144    0.0
23953    0.0
23907    0.0
44841    0.0
2951     0.0
Name: Salary, dtype: float64

In [14]:
salary.head()

2     113750.0
14    100000.0
17    130000.0
18     82500.0
22    100764.0
Name: Salary, dtype: float64

In [16]:
##Changing values in object to be sorted from lowest to highest
salary.sort_values(inplace=True)

salary.head()

51144    0.0
23953    0.0
23907    0.0
44841    0.0
2951     0.0
Name: Salary, dtype: float64

In [18]:
##Changing values in object to be sorted from highest to lowest
salary.sort_values(inplace=True, ascending=False)

salary.head()

31600    197000.0
27943    195000.0
6743     195000.0
41398    195000.0
1696     195000.0
Name: Salary, dtype: float64

In [20]:
salary.sort_index(ascending=False).head()

51390     40000.000000
51387     58000.000000
51382     32258.064516
51378    107526.881720
51371     74193.548387
Name: Salary, dtype: float64

In [22]:
##maxSalary is variable saving 100 highest Salaries 
maxSalary = salary.sort_values(ascending=False).head(100)

In [24]:
##minSalary is variable saving 100 lowest Salaries
minSalary = salary.sort_values().head(100)

In [32]:
##Rounded mean of max Salaries
round(maxSalary.mean(),2)

180198.1

In [33]:
##Rounded mean of min Salaries
round(minSalary.mean(),2)

67.08