In [1]:
import numpy as np
import pandas as pd
import math as math 
import matplotlib.pyplot as plt

In [2]:
ageIndex = ['6','7-14','15-17','18-24','25-39','40-59','60+']
values = [14,334,312,5823,9491,7486,4343]

incidents = pd.Series(index = ageIndex, data = values)
incidents

6          14
7-14      334
15-17     312
18-24    5823
25-39    9491
40-59    7486
60+      4343
dtype: int64

In [6]:
incidents1000 = incidents.where(incidents > 1000).dropna()
incidents1000

18-24    5823.0
25-39    9491.0
40-59    7486.0
60+      4343.0
dtype: float64

In [7]:
incidents

6          14
7-14      334
15-17     312
18-24    5823
25-39    9491
40-59    7486
60+      4343
dtype: int64

In [9]:
incidents.filter(items = ['18-24','25-39','40-59'])

18-24    5823
25-39    9491
40-59    7486
dtype: int64

In [13]:
incidents.where(incidents <= 1000,inplace = True)
incidents.dropna(inplace = True)
incidents

6         14.0
7-14     334.0
15-17    312.0
18-24      NaN
25-39      NaN
40-59      NaN
60+        NaN
dtype: float64